<mat-toolbar>
    <span>
        <img height='10%' width='10%' alt="Aria Logo" src="../assets/imgs/web_hi_res_512.png" (click)='sidenav.toggle()'>
    </span>
    <span style="align-items: center"></span>
    <span>
        <div class="container nav-title">
            <h1>{{ title }}</h1>
        </div>
    </span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" closed>
        <ul class='nav flex-column'>
            <li class="nav-item">
                <a routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
                <a routerLink='/users'>User Access</a>
            </li>
            <li class="nav-item">
                <a routerLink='/instorepricing'>In Store Pricing</a>
            </li>
            <li class="nav-item">
                <a routerLink='/labeloverride'>Label Overrides</a>
            </li>
            <li class="nav-item">
                <a routerLink='/outofstock'>Out of Stocks</a>
            </li>
            <li class="nav-item">
                <a routerLink='/pos'>Point of Sale Updates</a>
            </li>
            <li class="nav-item">
                <a routerLink='/reductionlabel'>Reduction Label</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content style="height: 1000px">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>