<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <ul class='nav flex-column'>
            <button routerLink='/users'>Aria Users</button>
            <button routerLink='/instorepricing'>In Store Pricing</button>
            <button routerLink='/labeloverride'>Label Overrides</button>
            <button routerLink='/outofstock'>Out of Stocks</button>
            <button routerLink='/pos'>Point of Sale Updates</button>
            <button routerLink='/reductionlabel'>Reduction Label</button>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <!--The content below is only a placeholder and can be replaced.-->
        <div style="text-align:center">
            <h1>
                {{ title }}
            </h1>
            <img width="300" alt="Aria Logo" src="../assets/imgs/web_hi_res_512.png">
        </div>
    </mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-container>