<mat-card class='header'>
    <div class='dropdown' dropdown>
        <h4>Store:</h4>
        <button dropdownToggle class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Store
    </button>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor='let store of stores'>
                <a class='dropdown-item'>{{store.viewValue}}</a>
            </li>
        </div>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th *ngFor='let column of displayedColumns' scope="col">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor='let users of userInfo'>{{users}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>